<app-header class="fixed top-0 left-0 w-full"></app-header>
<div
  class="bg-600 w-screen h-screen text-center align-middle justify-center items-center flex grid-cols-1"
>
  <div class="w-fit inline-block mx-auto">
    <div class="inline-block align-text-top text-left pb-2 text-sm">
      <span class="text-200">Hello, I am</span>
      <span class="text-4xl font-bold font-serif text-50">
        Colton Spurgin
      </span>
      <span class="text-200 font-sans"> and I like to build things.</span>
    </div>
    <div class="max-w-md">
      <p class="text-left text-900 pt-2 pb-3 font-sans">
        I am currently a in search of my next challenge. Amoung my many
        interests, I am currently most interested on front end web development.
      </p>
    </div>
    <div class="flex pt-3">
      <button mat-raised-button class="text-50 bg-300 pt-3">
        Checkout my work!
      </button>
    </div>
    <div class="socials origin-bottom-left justify-start w-4 h-auto">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <mat-icon
        color="warn"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </div>
  </div>
</div>
