<body class="bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/Blues Headshot.jpg" class="img-fluid me" alt="Me" />
      </div>
      <div class="col">
        <div class="bio clearfix">
          <p>
            I enlisted in the Air Force in 2016, attending basic training in
            May. After graduating from BMT, I attended Aerospace Medical
            technician technical school in San Antonio. My first base was
            Keesler AFB in Biloxi, MS where I worked in the general surgery
            clinic. Next I moved to Eglin AFB where I worked in the Emergency
            Department and Intensive Care Unit.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <figure class="rounded p-3 bg-white shadow-sm">
            <img
              src="../assets/070711-F-ZZ000-970.JPG"
              alt=""
              class="w-100 card-img-top"
            />
            <figcaption class="p-4 card-img-bottom">
              <h2 class="h5 font-weight-bold mb-2 font-italic">
                Aerospace Medical Technician Badge
              </h2>
              <p class="mb-0 text-small text-muted font-italic"></p>
              <ul>
                <li>ALS Graduate</li>
                <li>Coined by Base Commander</li>
                <li>Air and Space Force Achievement Medal</li>
              </ul>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</body>
