<div class="bg-600 h-screen w-screen">
  <div class="grid grid-cols-4 gap-2 p-4 align-middle mx-auto">
    <div class="col-auto inline-block mx-auto">
      <img src="../assets/Blues Headshot.jpg" class="img-fluid me" alt="Me" />
      <p>
        I enlisted in the Air Force in 2016, attending basic training in May.
        After graduating from BMT, I attended Aerospace Medical technician
        technical school in San Antonio. My first base was Keesler AFB in
        Biloxi, MS where I worked in the general surgery clinic. Next I moved to
        Eglin AFB where I worked in the Emergency Department and Intensive Care
        Unit.
      </p>
    </div>
    <div class="col-auto inline-block mx-auto">
      <img src="../assets/070711-F-ZZ000-970.JPG" alt="" class="" />

      <p class="text-2xl underline">Accomplishments</p>
      <ul>
        <li>Airman Leadership School Graduate</li>
        <li>Coined by Base Commander</li>
        <li>Air and Space Force Achievement Medal</li>
      </ul>
    </div>
  </div>
</div>
