<mat-toolbar class="c1"> 

    <div class="menu-enrty"><a routerLink="../"> <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon></a></div>
    <span class="big-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce-component">Air Force</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce-component">UWF</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce-component">Cool Projects</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce-component">Family</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce-component">Social Media</button>


</mat-toolbar>