<mat-toolbar class="c1">

    <span><a routerLink="../">
            <mat-icon class="menu-entry" aria-hidden="false" aria-label="Home">home</mat-icon>
        </a></span>
    <span class="big-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce">Air Force</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../HomeLab">Home Lab</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../term">Terminal</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../JavascriptProjects">Javascript Projects</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../socials">Testing</button>

</mat-toolbar>