<mat-toolbar class="c1"> 

    <div class="menu-enrty"><a routerLink="../"> <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon></a></div>
    <span class="big-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../AirForce">Air Force</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../HomeLab">Home Lab</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../term">Terminal</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../family">Family</button>
    <span class="small-spacer"></span>
    <button mat-raised-button class="menu-entry" routerLink="../socials">Social Media</button>


</mat-toolbar>