<body class="fluid-container">
  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section">
      <app-bio></app-bio>
      <!-- <app-ghactivity></app-ghactivity> -->
    </div>
    <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">
      <app-terminal></app-terminal>
    </div>
    <div class="section" (click)="fullpage_api.moveSectionDown()">
      <app-air-force></app-air-force>
    </div>
    <div class="section">
      <div class="slide">
        <div class="row container-fluid">
          <div class="col">
            <h1>Cool stuff</h1>
            <img src="assets/helo.jpg" />
            <!-- <img class="figure-img img-slide rounded" src="assets/search.jpg" /> -->
          </div>
          <div class="col">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              iusto quaerat molestiae excepturi modi veritatis laborum, est
              possimus itaque assumenda sunt voluptatibus. Corrupti, quae
              doloremque! Corrupti ipsam laboriosam aliquid sit!
            </p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="row container-fluid">
          <div class="col">
            <h1>Cool stuff</h1>
            <img src="assets/roof vent.jpg" />
            <!-- <img class="figure-img img-slide rounded" src="assets/search.jpg" /> -->
          </div>
          <div class="col">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              iusto quaerat molestiae excepturi modi veritatis laborum, est
              possimus itaque assumenda sunt voluptatibus. Corrupti, quae
              doloremque! Corrupti ipsam laboriosam aliquid sit!
            </p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="row container-fluid">
          <div class="col">
            <h1>Cool stuff</h1>
            <img class="img-fluid rounded" src="assets/search.jpg" />
          </div>
          <div class="col">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              iusto quaerat molestiae excepturi modi veritatis laborum, est
              possimus itaque assumenda sunt voluptatibus. Corrupti, quae
              doloremque! Corrupti ipsam laboriosam aliquid sit!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
