<body class="c2">
    <div class="container">
        <div class="row">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptates laboriosam non quia ad hic quis. Sunt consequatur ratione autem! Quibusdam nihil, doloribus voluptatum praesentium esse ratione consectetur quis fuga!
            <!-- my face, duty titles stuff -->
        </div>
        <div class="row">
            <div class="col">
                <!--Programming things or education/work history-->
            </div>
            <div class="col">
                <div class="bio">
                <p>    
                &emsp; Hello and welcome to my online portfolio, I have various school assignments, personal projects and some information about me and my
                work experience. I am currently a computer science student at The University of West Florida and active duty in the Air Force until 2025. 
                Due to my service commitment I am interested in part work or remote internships. Please browse whatever you'd like and contact me with any questions.
                </p>
                </div>
            </div>
            <div class="col">
                <app-ghactivity></app-ghactivity>
            </div>
        </div>
    </div>
</body>
