/*Background*/  
.bg {

    background-color: black;
    background-size: fill;
    background-repeat:repeat;
}

/*Background boxes for text*/
.bio  {
    margin: .5%;
    background-color: #90afc5;
}

/*Text*/
.bio p {
    padding: 2%; 
}

.me {
    border-radius: 50%;
}

.left {
    margin: .5%;
    background-color: #90afc5;
    padding: .5%;
}

body {
    padding: 1%;
    background-color: #212529;
}

.links {
    align-content: center;
    display: flex;
    display: inline-block;
    flex: 1 1 0; /* flex-grow: 1; flex-shrink: 1; flex-basis: 0 */
    padding: 1%;
}

.small-spacer {
    flex: 1 1 auto;
}

.right {
    margin: .5%;
    background-color: #90afc5;
    padding: .5%;
}

.intro {
    padding-left: 5%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}