<body class="c2">
    <div class="container-fluid">
        <div class="row flex">
            <div class="col-sm-2 left rounded">
                <h2>Technical Skills</h2>
                <mat-divider></mat-divider>
                <ul>
                    <li> Java </li>
                    <li> C++ </li>
                    <li> Python </li>
                    <li> Rust </li>
                    <li> Javascript </li>
                    <li> Angular & Spring Boot Frameworks </li>
                </ul>
                <div class="p-4"></div>
                <ul class="links">
                    <a href="https://www.linkedin.com/in/coltonspurgin"> <img src="assets/LinkedIn-Blue-96@2x.png" class="img-fluid links" ></a>
                    <a href="https://github.com/Kh1ng"> <img src="assets/GitHub_Logo_White.png" class="img-fluid links"> </a>
                </ul>
            </div>
            <div class="col-lg bio rounded" style="float:none">
                    <figure class="float-start figure w-25 p-1">
                        <img src="assets/headshottpbg.png" class="me img-fluid" alt="Me">
                    </figure>
                <p class="intro">       
                &emsp; Hello and welcome to my online portfolio. Please feel free to look around. I am a Junior at The University of West Florida studying Computer Science.
                I have incorporated some of my school projects in the <a routerLink="../AirForce-component">here.</a> I also have some of my projects <a routerLink="../HomeLab">here.</a> 
                Please have a look.
                </p>
                This site was built with Angular using Javascript, Typescript, HTML, CSS and SCSS. I am currently developing a "back end" (A RESTful API through Spring Boot) to showcase
                some of my school work, most of which does not run natively on the web. I am most familiar with Java and C++ through my formal education; however,
                I greatly enjoy learning new technologies and have spent time creating personal projects in many languages.
                I am currently looking for a new challenge to continue building my skills through an internship or job opporotunity. Contact me 
                below, I'm happy to talk.        
                
                <p>
                    Contact me: ColtonSpurgin@yahoo.com

                </p>
               
               
            </div>
            <div class="col-sm-2 right rounded">              
                <h2> Education </h2>
                <mat-divider></mat-divider>
                <ul>
                    <li><h4>University of West Florida</h4>
                        <ul>
                            <li> Bachelors of Science: Computer Science</li>
                            <li> Expected graduation: 2024 </li>
                            <li> UWF Association of Computing Machinery: Member</li>
                        </ul>
                    </li>
                </ul>
                <div class="p-4"></div>
                <h2> Work Experience </h2>
                <mat-divider></mat-divider>
                <ul>
                    <li>U.S. Air Force - Aerospace Medical Technician</li>
                    <li>CareFlite - EMT</li>
                    <li>Allegiance Ambulance - EMT</li>
                    <li>Guardian EMS - EMT</li>
                    <li>Melissa Fire Dept. - Driver/Operator/Engineer</li>
                    <li>CVS Pharmacy - Shift Supervisor</li>
                </ul>
            </div>
        </div>
    </div>
</body>
