/*Background*/  
.bg {
    background-image: url('../../assets/143279-computer-science-wallpaper-1920x1080-mobile.jpg');
    background-color: black;
    background-size: fill;
    background-repeat:repeat;
}

/*Background boxes for text*/
.bio  {
    border-radius: 2%;
    margin: 1%;
    padding: 1%;
    background-color: rgba(14, 3, 105, .8);
}

/*Text*/
.bio p {
    color: rgb(252, 75, 5);
    font-size: medium; 
    opacity: 1;   
}

.me {
    border-radius: 50%;
}

.left {
    background-color: #90afc5;
    border-radius: 2%;
    padding: .5%;
}

.big1 {
    padding: 1%;
    background-color: #212529;
}

.big2 {
    padding: 1%;
    background-color: #212529;
}

.links {
    align-content: center;
    display: flex;
    display: inline-block;
    flex: 1 1 0; /* flex-grow: 1; flex-shrink: 1; flex-basis: 0 */
    padding: 1%;
}

.small-spacer {
    flex: 1 1 auto;
}