<body class="c2 big1">
    <div class="container big2">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col bio">
                    <div>
                        <img src="assets/Blues Headshot.jpg" class="me" alt="Me">
                    </div>
                    <p>    
                &emsp; Hello and welcome to my online portfolio, I have various school assignments, personal projects and some information about me and my
                work experience. I am currently a computer science student at The University of West Florida and active duty in the Air Force until 2025. 
                Due to my service commitment I am interested in part work or remote internships. Please browse whatever you'd like and contact me with any questions.
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Technical Skills</h2>
                <ul>
                    <li> Java </li>
                    <li> C++ </li>
                    <li> Python </li>
                    <li> Rust </li>
                    <li> Javascript </li>
                    <li> Angular & Spring Boot Frameworks </li>
                </ul>
                <h2> Education </h2>
                <h4>University of West Florida</h4>
                <ul>
                    <li>Bachelor's of Science in Computer Science (2019 - Present)</li>
                </ul>
                <h2> Work Experience </h2>
                <ul>
                    <li>U.S. Air Force - Aerospace Medical Technician</li>
                    <li>CareFlite - EMT</li>
                    <li>Allegiance Ambulance - EMT</li>
                    <li>Guardian EMS - EMT</li>
                    <li>Melissa Fire Dept. - Driver/Operator/Engineer</li>
                    <li>CVS Pharmacy - Shift Supervisor</li>
                </ul>
                <ul class="links">
                    <a href="https://www.linkedin.com/in/coltonspurgin"> <img src="assets/LinkedIn-Blue-96@2x.png" class="img-fluid links" ></a>
                    <a href="https://github.com/Kh1ng"> <img src="assets/GitHub_Logo_White.png" class="img-fluid links"> </a>
                </ul>
            </div>
        </div>
    </div>
</body>
