<div class="main container-fluid">
  <div *ngIf="this.selected == 1" class="guessing">
    <app-guessing-game></app-guessing-game>
  </div>
  <div class="container-fluid">
    <h1>Javascript Projects</h1>
  </div>
  <div class="container-fluid">
    <h4>Select a Project</h4>
    <div>
      I made this really cool thing but have yet to get my js projects to play
      nice with angular. They can be found
      <a href="www.coltonspurgin.tech/js">here</a>
    </div>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="1">Guessing Game</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="theStuff container-fluid">
    {{ theStuff(selected) }}
  </div>
  <div class="container-fluid theNotes">
    {{ theNotes(selected) }}
  </div>
</div>
