<mat-toolbar class="c1 flex bg-700 w-screen max-h-24">
  <span
    ><a routerLink="../">
      <mat-icon class="home" aria-hidden="false" aria-label="Home"
        >home</mat-icon
      >
    </a></span
  >

  <span class="big-spacer"></span>
  <button mat-raised-button class="menu-entry shadow-lg" routerLink="../bio">
    About Me
  </button>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    routerLink="../AirForce"
  >
    Air Force
  </button>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    routerLink="../HomeLab"
  >
    Home Lab
  </button>

  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    routerLink="../JavascriptProjects"
  >
    Javascript Projects
  </button>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    routerLink="../socials"
  >
    Angular Project
  </button>
</mat-toolbar>
