<mat-toolbar class="c1 flex bg-700 w-screen max-h-24">
  <span
    ><a routerLink="../">
      <mat-icon color="primary" size="lg" class="home" aria-hidden="false" aria-label="Home"
        >home</mat-icon
      >
    </a></span
  >

  <span class="big-spacer"></span>
  <button mat-raised-button color="primary" class="menu-entry shadow-lg" routerLink="../bio">
    About Me
  </button>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    color="primary"
    routerLink="../AirForce"
  >
    Air Force
  </button>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    color="primary"
    class="menu-entry shadow-lg"
    routerLink="../HomeLab"
  >
    Home Lab
  </button>

  <span class="small-spacer"></span>
  <a href="https://kh1ng.github.io/">
    <button
        mat-raised-button
        color="primary"
        class="menu-entry shadow-lg"
        routerLink="../JavascriptProjects"
      >
      Javascript Projects
    </button>
  </a>
  <span class="small-spacer"></span>
  <button
    mat-raised-button
    class="menu-entry shadow-lg"
    color="primary"
  >
    Angular Project
  </button>
</mat-toolbar>
