<div><app-header></app-header></div>
<div class="container rounded p-3">
  <h1>Learning Angular</h1>
  <p>
    Using router children to showcase a project I made learning about consuming
    a test API.
  </p>
  {{ needToolbar() }}
</div>
<div class="container rounded p-3">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/ngproj">Angular Projects Home</a> |
      <a [routerLink]="['user', 1]"> User 1 </a>
      |
      <a [routerLink]="['user', 2]"> User 2 </a>
    </div>
  </div>
  <hr />
  <div class="container row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
