<body class="bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="myFace" src='../../assets/FB_IMG_1655137515216.jpg' alt="my face">
            </div>
            <div class="col">
                <div class="bio clearfix">
                    <p>
                        I enlisted in the Air Force in 2016, attending basic training in May. After graduating from BMT, I attended Aerospace Medical technician technical
                        school in San Antonio. My first base was Keesler AFB in Biloxi, MS where I worked in the general surgery clinic. Next I moved to Eglin AFB where I worked
                        in the Emergency Department and Intensive Care Unit.
                    </p>
                    <img class="afsc col-md-6 float-md-end mb-3 ms-md-3" src='../assets/070711-F-ZZ000-970.JPG' alt="4N0X1 badge"> 
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</body>
