<body>
    <div class="container-fluid">
        <h1> Javascript Projects </h1>
    </div>
    <div class="container-fluid">
        <h4>Select a Project</h4>
        <mat-form-field appearance="fill">
            <mat-label>Project</mat-label>
            <mat-select>
                <mat-option *ngFor="let project of this.projects" [value]="project.value">
                    {{project.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="theStuff container-fluid">
        Put the stuff here.
    </div>
    <div class="container-fluid theNotes">
        Put the project info and how i did it here.

        Need project selector, tranfer JS to ang
    </div>
</body>