<body>
    <div class="container-fluid">
        <h1> Javascript Projects </h1>
    </div>
    <div class="container-fluid">
        <h4>Select a Project</h4>
        <mat-form-field appearance="fill">
            <mat-label>Project</mat-label>
            <mat-select>
                <mat-option *ngFor="let selection of getProjects()" [value]="selection.value">
                    {{selection.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="theStuff container-fluid">
        {{currProj.getStuff()}}
    </div>
    <div class="container-fluid theNotes">
        {{currProj.getNotes()}}
    </div>
</body>