<div class="bg-600 h-screen w-screen">
  <app-header class="fixed top-0 left-0 w-full drop-shadow-2xl"></app-header>
  <div class="container-fluid p-2">
    <p>
      What started as bad wifi in the master bedroom has turned in to home
      automation, security cameras, improvement of infrastucture and evtually
      self hosting my own services. Through this project I have gained
      significant experience with Ubuntu Server (I use arch btw) and Docker.
      Things I am self hosting or plan to self host:
    </p>
  </div>
  <div>
    <ul>
      <li>PiHole</li>
      <li>PiVPN</li>
      <li>Media Server</li>
      <li>Back End for This Site</li>
      <li>Dropbox Alternative</li>
      <li>Password Manager</li>
    </ul>
  </div>
  <div class="container-fluid">
    <img class="meme" src="assets/RzHSYWBs.jpeg" />
  </div>
  <p class="text-3xl">Please make me a tailwind page one day Colton</p>
</div>
