<div
  class="bg-600 w-screen h-screen align-middle justify-center items-center mx-auto"
>
  <app-header
    class="fixed top-0 left-0 w-full drop-shadow-2xl justify-center"
  ></app-header>

  <div
    class="grid grid-cols-3 gap-4 align-middle justify-center items-center mx-auto mt-16 pt-4"
  >
    <div class="inline-block col"></div>
    <div
      class="inline-block col bg-900 text-100 rounded-md w-fit h-auto mx-auto"
    >
      <p class="text-9xl p-24">Coming soon.......</p>
    </div>
    <div class="inline-block col"></div>
  </div>
</div>
