<body>
  <div>
    <p>
      What started as bad wifi in the master bedroom has turned in to a home
      server. Part infrastructure, part software, and part fun: this project has
      turned in to a hobby. Things I am self hosting or plan to self host:
    </p>
  </div>
  <div>
    <ul>
      <li>PiHole</li>
      <li>PiVPN</li>
      <li>Media Server</li>
      <li>Back End for This Site</li>
      <li>Dropbox Alternative</li>
      <li>Password Manager</li>
    </ul>
  </div>
  <div>
    <img />
  </div>
  v;i67u
</body>
