<body>
    <div style="text-align: center"><h1>This will be a (fake) terminal one day</h1> </div>
    <div class="container">
        <div class="row">  

                <div class="term col container-fluid">
                    <div class="out">
                        <pre>
                                                                ~~~ I use Arch btw ~~~ 
                              ``                          ┌───────── Hardware Information ─────────┐ 
                              //                            ​   ​     ROG Zephyrus G14 GA401QM_GA401QM 1.0 
                             -++:                           ​   ​     AMD Ryzen 9 5900HS with Radeon Graphics (16) @ 3.3GHz 
                            .+++o-                          ​   ​ ﬙    AMD ATI 04:00.0 Cezanne 
                           `+oo++o.                         ​   ​ 塞   4201MiB / 15399MiB (27%) 
    ```....-----::::-`+ooooooo`.::::------...```          ├───────── Software Information ─────────┤ 
                   ```-/++++ooooo++++++:````                ​   ​ ​    khing 
                       `-ooo++oo++ooo/`                     ​   ​     XeroLinux-KDE 
                        //+oooooooooo+`                     ​   ​     Linux 5.19.10-arch1-1 
                       +ss+/+oooooooooo`                    ​   ​     Plasma 5.25.5 
                      +sso++++++++++++++`                   ​   ​     KWin 
                     /o+/++++/-./+++++++/`                  ​   ​     bash 5.1.16 
                   `/+/+++++.    ./++++++/`                 ​   ​     konsole 
                 ``/+++++++.      `/++++++/`                ​   ​     Layan, Layan-Dark-Solid 
           ...---:///++++++        /:/+++//::-...````       ​   ​     1708 (pacman), 1 (dpkg) 
                `/+++++++++        +++++++/:.               ​   ​ 󰅐    1 day, 2 hours, 44 mins 
               `/+++++/:-..        ..-:/+++++/`             ​   ​ ﬙    amdgpu 
              `/++/-.`                  `.:/++/`            ​   ​     2% 
             `/:.`                          `.:/`           ​   ​     192.168.1.83 
                                                          └───────────────────────────────────────┘ 
                                                                                      
                        </pre>
                </div>
                <div class="container-fluid border-top cli">
                    [root@ColtonSpurgin.tech]$  <!--<form><input type="text" id="cmd" value="[]"></form>-->
                </div>
            </div>
                <div class="col info p-2">
                    Built in Angular and communicates with spring boot using RESTful API. Showcases school projects written in Java. Themed off my 
                    <a href="https://xerolinux.xyz/">XeroLinux</a> terminal.
            </div>
        </div>  
    </div>
</body>