<app-header class="fixed top-0 left-0 w-full drop-shadow-2xl"></app-header>
<div class="bg-600 w-screen h-screen text-left align-middle justify-center items-center grid grid-cols-2">
  <div class="w-96 inline-block m-auto p-1">
    <img
      src="assets/headshottpbg.png"
      class="me float-left h-48 w-40"
      alt="Me"
    />

    <p class="intro">
      I am a computer science student and NCO in the <a routerLink="../AirForce-component"> US Air Force </a>. I have spent the last 10 years working as an 
      Emergency Medical Technician both as a civillian (Fire Service, Private EMS) and for the Air Force. 
      My interest in Computer Science started as a child with a Parallax BOE-bot kit. In high school, I was apart 
      of the <a href="https://www.pltw.org/"> Project Lead the Way </a> pre-engineering program as well as the first
      robotics team at my highschool. After highschool I decided to attend EMT school, during my time as an EMT I have 
      discovered a strong desire to help others. Coupled with my interest in technology, this has led me back to the STEM world where 
      I plan on creating software to assist users.
    </p>
<mat-divider></mat-divider>

  </div>
  <div class="w-96 inline-block mx-auto">
    Some of the technologies I've recently been working with are:
    <ul>
      <li>Java</li>
      <li>C++</li>
      <li>Python</li>
      <li>Rust</li>
      <li>Javascript</li>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>Tailwind</li>
    </ul>
  </div>
</div>

