<div class="grid grid-cols-2 bg-600">
  <div class="">
    <img
      src="assets/headshottpbg.png"
      class="me float-left h-48 w-40"
      alt="Me"
    />

    <p class="intro">
      Hello and welcome to my online portfolio. Please feel free to look around.
      I am a Junior at The University of West Florida studying Computer Science.
      I am currently looking for opporotunities to apply what I have learned.
      Due to my commitment to the Air Force I can only participate in part time
      opportunities that are remote or around the Pensacola/Fort Walton Beach
      area. I have created a pseudo terminal to run some of my CLI projects
      <a routerLink="../AirForce-component">here.</a> I also have some of my
      <a routerLink="../JavascriptProjects">javascript projects</a>,
      <a routerLink="../socials">angular project</a> and some
      <a routerLink="../HomeLab">networking and embedded projects</a>.
      <mat-divider></mat-divider>
    </p>
  </div>
</div>

<h2>Technical Skills</h2>
<mat-divider></mat-divider>
<ul>
  <li>Java</li>
  <li>C++</li>
  <li>Python</li>
  <li>Rust</li>
  <li>Javascript</li>
  <li>Angular & Spring Boot Frameworks</li>
</ul>

<p class="intro">
  &emsp; Hello and welcome to my online portfolio. Please feel free to look
  around. I am a Junior at The University of West Florida studying Computer
  Science. I am currently looking for opporotunities to apply what I have
  learned. Due to my commitment to the Air Force I can only participate in part
  time opportunities that are remote or around the Pensacola/Fort Walton Beach
  area. I have created a pseudo terminal to run some of my CLI projects
  <a routerLink="../AirForce-component">here.</a> I also have some of my
  <a routerLink="../JavascriptProjects">javascript projects</a>,
  <a routerLink="../socials">angular project</a> and some
  <a routerLink="../HomeLab">networking and embedded projects</a>.
  <mat-divider></mat-divider>
</p>

<p>
  This site was built with Angular using Javascript, Typescript, HTML, CSS and
  SCSS. I am currently developing a "back end" (A RESTful API through Spring
  Boot) to showcase some of my school work, most of which does not run natively
  on the web. I am most familiar with Java and C++ through my formal education;
  however, I greatly enjoy learning new technologies and have spent time
  creating personal projects in many languages. I am currently looking for a new
  challenge to continue building my skills through an internship or job
  opporotunity. Contact me below, I'm happy to talk.
</p>
<p>Contact me: ColtonSpurgin@yahoo.com</p>
<div class="contianer">
  <app-ghactivity></app-ghactivity>
</div>

<h2>Education</h2>
<mat-divider></mat-divider>
<h4>University of West Florida</h4>
<ul>
  --Bachelors of Science: Computer Science --Expected graduation: 2025 --UWF
  Association of Computing Machinery: Member
</ul>

<h2>Work Experience</h2>
<mat-divider></mat-divider>
<ul>
  <li>U.S. Air Force - Aerospace Medical Technician</li>
  <li>CareFlite - EMT</li>
  <li>Allegiance Ambulance - EMT</li>
  <li>Guardian EMS - EMT</li>
  <li>Melissa Fire Dept. - Driver/Operator/Engineer</li>
  <li>CVS Pharmacy - Shift Supervisor</li>
</ul>
